body * {
	background-blend-mode: normal !important;
}
/* Reddit */
.promotedlink, .ad-container, .premium-banner-outer {
	display: none !important;
}
a#new_modmail, a#chat, a#chat-count {
	display: none !important;
}

/* Google */
div#taw {
	display: none !important;
}
#gsr > div.wYq63b {
	display: none !important;
}

/* Youtube */
ytd-rich-item-renderer.ytd-rich-grid-renderer.style-scope:nth-of-type(1) {
	display: none !important;
}

/* Youtube rounded corners */
.yt-button-renderer, .ytd-menu-renderer, .yt-icon-button, .ytd-thumbnail, .ytd-thumbnail-overlay-time-status-renderer, .ytd-searchbox {
	border-radius: 0 !important;
}

/* Webengine highlight thing */
:focus {
    outline: none;
}
